{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<style>
    .icon-hover:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
    }

    .icon-hover:hover i {
        color: #3b71ca !important;
    }
</style>
    
<body>
    <br/>
    <br/>
    <br/>
    <br/>
    <section class="">
        <div class="container">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
              </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp"
                                class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="mb-1 me-1">Demo Name</h5>

                                <div class="d-flex flex-row">
                                    <h5 class="mb-1 me-1">$34,50</h5>
                                    <span class="text-danger"><s>$49.99</s></span>
                                </div>
                                <p class="card-text">T-shirts with multiple colors, for men and lady</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Buy Now</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1">Details</i></a>
                                </div>
                            </div>
                        </div>
                        {% for i in allProducts %}
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="{{i.image}}"
                                class="card-img-top" />
                                <h5 class="mb-1 me-1">{{i.name}}</h5>
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex flex-row">
                                    <h6 class="mb-1 me-1">{{i.discount_price}}</h6>
                                    <span class="text-danger"><s>{{i.offer_price}}</s></span>
                                </div>
                                <p class="card-text">{{i.description}}</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% comment %} <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp"
                                class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">Winter Jacket for Men and Women, All sizes</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/12.webp"
                                class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">T-shirts with multiple colors, for men and lady</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/13.webp"
                                class="card-img-top" style="aspect-ratio: 1 / 1" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">Blazer Suit Dress Jacket for Men, Blue color</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/14.webp"
                                class="card-img-top" style="aspect-ratio: 1 / 1" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$510.00</h5>
                                <p class="card-text">Slim sleeve wallet Italian leather - multiple colors</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp"
                                class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$79.99</h5>
                                <p class="card-text">T-shirts with multiple colors, for men and lady</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp"
                                class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">Winter Jacket for Men and Women, All sizes</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/12.webp"
                                class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$120.00</h5>
                                <p class="card-text">T-shirts with multiple colors, for men and lady</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp"
                                class="card-img-top" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">$43.50</h5>
                                <p class="card-text">Summer New Men's Denim Jeans Shorts</p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                    <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                            class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>

                <hr />

                {% comment %} <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav> {% endcomment %}
            </div>
        </div>
        </div>
    </section>
</body>

</html>

{% endblock %}